// Place all the styles related to the api/channels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.channel-index {
  display: flex;
  flex-direction: column;
  min-width: 240px;
  background-color: #2F3136;

  .channel-list {
    display: flex;
    flex-direction: column;
    height: calc(100% - 100px);
    overflow-y: scroll;
    align-items: center;

    a {
      color: white;
      text-decoration: none;
      font-size: 18px;
      width: 200px;
      padding: 5px;
      margin: 5px 0px;
      border-radius: 5px;

    }

    .active {
      background-color: #42464E;
    }

    &::-webkit-scrollbar {
      width: 0px;
      background: transparent;
    }
  }

  .dropdown {
    min-height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #222429;

    p{
      display: block;
      margin: auto 15px;;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      top: 55px;
      left: 150px;
      background-color: #f1f1f1;
      min-width: 150px;
      border-radius: 5px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 2;

      p {
        display: block;
        text-align: center;
        color: black;
        margin: 5px auto;
      }

      .delete-server-button {
        color: red;
        background: none;
        border: 1px solid red;
        margin: 15px auto;
        display: block;
        cursor: pointer;
        border: none;

        &:hover {
          background-color: #ddd;
        }
      }
    }

    .show {
      display:block;
    }
  }

  .user-info {
    min-height: 50px;
    background: #2B2C31;
    display: flex;
    justify-content: space-between;

    p{
      display: block;
      margin: auto 15px;;
    }

    a {
      display: block;
      margin: auto 15px;;
      height: 20px;
      width: 50px;
      padding: 5px;
      color: red;
      border: 1px solid red;
      border-radius: 5px;
      text-decoration: none;
    }
  }

}
