// Place all the styles related to the api/channels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.channel-index {
  display: flex;
  flex-direction: column;
  min-width: 240px;
  background-color: #2F3136;

  .channel-list {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 100px);
    overflow-y: scroll;
    align-items: center;

    &:hover {
    }

    &::-webkit-scrollbar {
      width: 3px;
      background: #2F3137;
      border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #1E2125;
      border-radius: 20px;
    }

    .channel-button {
      color: #71757E;
      text-decoration: none;
      font-size: 14px;
      width: 200px;
      padding: 5px;
      margin: 5px 0px;
      border-radius: 5px;
      word-wrap: break-word;

      &:hover {
      background-color: #373A40;
      }

      .remove-channel-button {
        display: none;
      }
    }

    .active {
      background-color: #42464E;
      color: white;

      &:hover{
        background-color: #42464E;
        cursor: default;
      }

      .remove-channel-button {
        display: block;
        float: right;
        background: none;
        border: none;
        color: white;
        align-self: flex-end;

        &:hover {
          cursor: pointer;
          color: red;
        }

        &:focus {
          outline: none;
        }
      }
    }
  }

  .user-header {
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #222429;

    p{
      display: block;
      margin: auto 15px;;
    }

    i{
      display: block;
      margin: auto 15px;;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .dropdown {
    min-height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #222429;

    p{
      display: block;
      margin: auto 15px;;
    }

    i{
      display: block;
      margin: auto 15px;;
    }

  }

  .dropdown-content {
    display: none;
    position: absolute;
    top: 55px;
    left: 150px;
    background-color: #f1f1f1;
    min-width: 150px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;

    p {
      color: #7082E1;
      font-weight: 700;
      display: block;
      text-align: center;
      margin: 5px auto;
    }

    .add-channel-input {
      width: 80%;
      margin: 10px 7.5%;
    }

    .remove-server-button {
      width: 80%;
      color: red;
      background: none;
      border: 1px solid red;
      margin: 10px auto;
      display: block;
      cursor: pointer;
      border: 1px solid red;
      border-radius: 10px;

      &:hover {
        color: #FFFFFF;
        background-color: red;
      }
    }
  }

  .show {
    display:block;
  }

  .user-info {
    min-height: 50px;
    background: #2B2C31;
    display: flex;
    justify-content: space-between;

    p{
      display: block;
      margin: auto;;
    }

    .logout {
      display: block;
      margin: auto;
      font-size: 12px;
      height: 15px;
      width: 40px;
      padding: 5px;
      color: red;
      border: 1px solid red;
      border-radius: 5px;
      text-decoration: none;

      &:hover {
        box-shadow: 0 0 5px 5px maroon;
      }
    }
  }

}
