.emotes-button {
  cursor: pointer;
  filter: grayscale(100%);
  margin-right: 15px;

  &:hover {
    filter: grayscale(0%);
  }
}

.show-button {
 filter: grayscale(0%);
}

.emotes-content {
  position: absolute;
  bottom: 60px;
  right: 60px;
  display: none;
  background-color: #f1f1f1;
  width: 300px;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;

  .emotes {
    font-size: 20px;
    margin: 5px;

    &:hover {
      cursor: pointer;
    }
  }
}

.show {
  display: flex;
  flex-wrap: wrap;
}
