.messages {
  width: calc(100% - 315px);
  background-color: #36393E;

  .messages-nav {
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #222429;

    p{
      display: block;
      margin: auto 25px;;
    }

    .swang-links {
      margin: auto;
      margin-right: 5%;

      a{
        margin: 0px 15px;

        &:hover {
          color: #7082E1;
        }
      }
    }
  }

  .messages-body {
    height: calc(100% - 51px);
    display: flex;
  }

  .message-display {
    height: 100%;
    width: calc(100% - 240px);
    display: flex;
    flex-direction: column;
    // align-items: center;

    .chat-logs {
      height: calc(100% - 75px);
      width: calc(100% - 20px);
      margin-left: 15px;
      overflow-y: scroll;
      display: flex;
      flex-direction: column-reverse;

      &::-webkit-scrollbar {
        width: 10px;
        background: #2F3137;
        border-radius: 20px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #1E2125;
        border-radius: 20px;
      }

      .message {
        border-top: 1px solid #484B53;
        width: 100%;
        padding: 15px 0px;

        .chat-created-at {
          font-size: 12px;
          color: #484B53;
        }

        .chat-author {
          font-weight: 700;
          margin: 5px 0px;
        }

        .chat-message {
          color: #C3C4C6;
          font-size: 14px;
          word-wrap: break-word;
        }
      }
    }
    .chat-form {
      border-top: 1px solid #484B53;
      min-height: 75px;
      width: calc(100% - 30px);
      margin-left: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .input-box {
        background: #484B53;
        width: 100%;
        padding: 10px 0px;
        border-radius: 5px;
        border: none;

        .chat-input {
          background: #484B53;
          width: 80%;
          margin-left: 10px;
          border-radius: 5px;
          border: none;
          outline:none;
          color: white;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
  }

  .messages-users {
    display: flex;
    flex-direction: column;
    min-width: 240px;
    height: 100%;
    background-color: #2F3136;
  }
}
