// Place all the styles related to the api/servers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.server-index {
  background-color: #202225;
  min-width: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow-y: scroll;

  a {
    color: #FFF9F2;
    width: 50px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 0px;
  }

  .divider {
    width: 35px;
    border-bottom: 2px solid #2F3136;
    margin: 10px 0px;
  }

  .me-button {
    background-image: asset-url('me.svg');
    background-size: 35px 35px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 10px 0px;
    font-size: 0px;
  }

  .server-button{
    background-color: #2F3136;
    border-radius: 50px;

    .bar {
      width: 3px;
      height: 0px;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }

    &:hover {
      border-radius: 15px;
      background-color: #7082E1;
      -webkit-transition: background-color 1s, border-radius .5s;
    }
  }

  .add-server {
    border-radius: 50px;
    color: #2F3136;
    border: 3px dotted #2F3136;

    &:hover {
      color: #DDDDDD;
      border: 3px dotted #DDDDDD;
      -webkit-transition: border 1s, color 1s;
    }
  }

  .active {
    border-radius: 15px;
    background-color: #7082E1;

    .bar{
      height: 30px;
    }
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background: white;
    width: 525px;
    height: 425px;
    border-radius: 5px;

    h1 {
      color: #7082E1;
      margin: 25px 0px 10px 0px;
      padding-top: 15px;
      font-size: 18px;
      font-weight: 700;
    }

    h2 {
    }

    .serverForm {
      display: flex;
      justify-content: space-around;
    }

    form {
      width: 225px;
      height: 275px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid #DDDDDD;
      border-radius: 5px;
    }

    .or {
      position: absolute;
      background: white;
      top: 50%;
      color: #9CADB7;
      font-size: 22px;
      line-height: 45px;
      width: 50px;
      height: 50px;
      border-right: 1px solid #DDDDDD;
      border-left: 1px solid #DDDDDD;
      border-radius: 50px;
    }

    .postServer {
      margin-left: 15px;

      h2 {
        color: #7082E1;
        margin: 10px 0px;
      }

      p {
        color: #9CADB7;
        width: 200px;
        text-align: center;
        margin: 10px 0px;
      }

      .server-icon {
        height: 100px;
        width: 130px;
        background: asset-url('servercreate.png');
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: 10px;
      }

      input {
        margin-bottom: 5px;
        width: 150px
      }

      .postSubmit {
        background-color: #7085DE;
        width: 200px;
        height: 50px;
        border: none;
        border-radius: 5px;
        text-transform: capitalize;
        color: white;
        font-size: 16px;
        font-weight: 600;
        margin-top: 10px;

        &:hover {
          background-color: darken(#7085DE, 5%);
        }
      }
    }

    .joinServer {
      margin-right: 15px;

      h2 {
        color: #40A476;
        margin: 10px 0px;
      }

      p {
        color: #9CADB7;
        width: 200px;
        text-align: center;
        margin: 10px 0px;
      }

      .server-icon {
        height: 100px;
        width: 200px;
        background: asset-url('serverjoin.png');
        background-size: contain;
        background-repeat: no-repeat;
      }

      input {
        margin-bottom: 5px;
        width: 150px
      }

      .joinSubmit {
        background-color: #40A476;
        width: 200px;
        height: 50px;
        border: none;
        border-radius: 5px;
        text-transform: capitalize;
        color: white;
        font-size: 16px;
        font-weight: 600;
        margin: 10px;

        &:hover {
          background-color: darken(#40A476, 5%);
        }
      }
    }
  }

  .backdrop {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9998;
    background: rgba(0, 0, 0, 0.85);
  }

  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}
