// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  .messages-users {
    min-width: 240px;
    background-color: #2F3136;
    overflow-y: scroll;

    .users-ul {
      margin-top: 10px;
      width: 95%;
      display: flex;
      flex-direction: column;
      align-items: left;

      .users-header{
        font-size: 14px;
        color: #808387;
        width: 90%;
        padding: 15px;

      }

      .users {
        font-size: 14px;
        width: 90%;
        padding: 15px;

        i {
          color: gold;
        }

        &:hover {
          cursor: pointer;
          background: linear-gradient(to left, rgba(0,0,0,0), rgba(20,20,20,.6))
        }
      }
    }

    &::-webkit-scrollbar {
      width: 5px;
      background: #2F3137;
      border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #1E2125;
      border-radius: 20px;
    }
  }

.user-header {

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background: #2F3136;
    width: 400px;
    height: 400px;
    border-radius: 5px;
    align-items: center;


    .user-search-input {
      background: #484B53;
      width: 90%;
      height: 30px;
      margin: 10px 4%;
      padding-left: 5px;
      border-radius: 5px;
      border: none;
      outline:none;
      color: white;
      font-size: 14px;
      font-weight: 400;
    }

    .users-ul {
      width: 100%;
      height: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow-y: scroll;


      .users {
        font-size: 16px;
        width: 80%;
        padding: 15px;
        margin: 5px;
        text-align: center;
        background: #373A40;

        &:hover {
          cursor: pointer;
          background: #141414
        }
      }

      &::-webkit-scrollbar {
        width: 5px;
        background: #2F3137;
        border-radius: 20px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #1E2125;
        border-radius: 20px;
      }
    }

  }

  .backdrop {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9998;
    background: rgba(0, 0, 0, 0.85);
  }

}

.user-info {

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background: #2F3136;
    width: 250px;
    height: 250px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      margin: 10px;
      color: #7082E1;
      font-size: 20px;
      font-weight: 700;
    }

    img {
      width: 100px;
      height: 100px;
      border-radius: 100px;
    }

    input {
      background: #484B53;
      width: 80%;
      margin: 10px;
      padding: 10px;
      border-radius: 5px;
      border: none;
      outline:none;
      color: white;
      font-size: 14px;
      font-weight: 400;
    }

    button {
      background: #7082E1;
      width: 80%;
      padding: 15px;
      color: #FFFFFF;
      margin-bottom: 10px;
      border: none;
      border-radius: 5px;

      &:hover {
        cursor: pointer;
        background-color: darken(#7085DE, 5%);
      }
    }
  }

  .backdrop {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9998;
    background: rgba(0, 0, 0, 0.85);
  }
}
