// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#splash {
  background: asset-url('background_ow.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;

  .nav {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 30%;
    background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,.6))
  }

  .splash-text {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .splash-h1 {
      color: white;
      font-size: 35px;
      text-shadow: 3px 3px 3px #36393E;
      margin: auto;
      margin: 10px;
    }

    .splash-p {
      text-align: center;
      line-height: 30px;
      max-width: 50%;
      margin: 10px;
      color: #ffffff;
      text-shadow: 2px 2px 1px black;
    }
  }

  .splash-nav-left {
    position: absolute;
    top: 25px;
    left: 50px;
    display: flex;
    align-items: center;
    width: 200px;

    .splash-logo {
      background-image: asset-url('discusslogoblackwhite.png');
      background-size: cover;
      background-repeat: no-repeat;
      width: 30px;
      height: 30px;
    }

    h1 {
      font-size: 25px;
      color: #FFFFFF;
      margin-left: 5px;
    }
  }

  .splash-session {

    position: absolute;
    top: 25px;
    right: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;

    h2 {
      color: white;
      font-size: 14px;
      padding: 5px;
    }

    a {
      color: white;
      text-decoration: none;
      font-size: 14px;
      border: 3px solid white;
      border-radius: 50px;
      width: 80px;
      padding: 5px 0px;
      margin: 5px 0px;
      text-align: center;
    }
  }
}
